@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.main {
    box-sizing: border-box;
    background-color: #f8f9fa;
    color: #111;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    padding: 10px;
    margin: 0;
}

.contianer {
    background-color: #e9ecef;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    padding: 20px;
    width: 350px;
    max-width: 100%;
}

.contianer h2 {
    margin: 10px 0 20px;
    text-align: center;
    font-weight: 700;
    font-size: x-large;
}

.resultContainer input {
    color: #111;
}

.config input {
    color: #111;
}