@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

.container {
    box-sizing: border-box;
    background-color: #90e0ef;
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: auto;
    margin: 0;
}