@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.container {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #111;
    padding-bottom: 50px;
    background-color: #fff;
}

.nav {
    position: fixed;
    background-color: #111;
    color: #fff;
    top: 0;
    left: 0;
    right: 0;
    transition: all .2s ease;
    z-index: 2;
}

.nav .childContainer {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all .2s ease;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav ul a {
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all .2s ease;
}

.nav.active {
    background-color: #fff;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
    color: #000;
}

.nav a.current,
.nav a:hover {
    color: #d94434;
}

.hero {
    background-image: url('https://source.unsplash.com/random');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: bottom center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: 1;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.hero h1 {
    font-size: 44px;
    margin: -20px 0 20px;
    font-weight: bolder;
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.content h2,
.content h3 {
    font-size: 150%;
    font-weight: bold;
    margin: 15px 0;
}

.content p {
    color: #555;
    line-height: 30px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .nav .childContainer {
        flex-direction: column;
        text-align: justify;
    }

    .nav ul {
        margin-top: 10px;
    }

    .nav ul a {
        padding: 10px;
    }
}