@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Syne+Mono&display=swap');

.container {
    box-sizing: border-box;
    font-family: 'Merriweather', 'Syne Mono', monospace;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
}

.childContainer h1 {
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-weight: bolder;
}

.btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #fff;
    border: #fff solid 0.2rem;
    padding: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 15rem;
    border-radius: 10px;
    letter-spacing: 0.1rem;
}

.split.left .btn:hover {
    background-color: #e0405f;
    border-color: #fff;
}

.split.right .btn:hover {
    background-color: #111;
    border-color: #fff;
}

.childContainer {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #8a3ab9, #bc2a8d, #fccc63, #fbad50, #00acee);
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left {
    left: 0;
    background: url('https://images.unsplash.com/photo-1690138871287-02b2fc3b87c2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.left::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e0405f33;
    transition: all 1000ms ease-in-out;
}

.split.right {
    right: 0;
    background: url('https://images.unsplash.com/photo-1611162616305-c69b3fa7fbe0?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.right::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e0405f33;
    transition: all 1000ms ease-in-out;
}

.hover-left .left {
    width: 75%;
}

.hover-left .right {
    width: 25%
}

.hover-right .right {
    width: 75%
}

.hover-right .left {
    width: 25%
}

@media(max-width: 700px) {
    .childContainer h1 {
        font-size: 2rem;
        top: 30%;
    }

    .btn {
        padding: 1rem;
        width: 12rem;
    }
}