@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Syne+Mono&display=swap');

.container {
    box-sizing: border-box;
    font-family: 'Merriweather', 'Syne Mono', monospace;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
}

.childContainer h1 {
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-weight: bolder;
}

.btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #fff;
    border: #fff solid 0.2rem;
    padding: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 15rem;
    border-radius: 10px;
    letter-spacing: 0.1rem;
}