@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

.container {
    box-sizing: border-box;
    background-color: #90e0ef;
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: auto;
    margin: 0;
}

.numberContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.number {
    border-radius: 5px;
    height: 120px;
    width: 100px;
    font-weight: 75px;
    border: 2px solid #eee;
    margin: 1%;
    text-align: center;
    font-weight: 300;
    font-size: large;
    -moz-appearance: textfield;
}

.number::-webkit-outer-spin-button,
.number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: none;
}

.number:valid {
    border-color: #228b22;
}

@media (max-width: 600px) {
    .numberContainer {
        flex-wrap: wrap;
    }

    .number {
        width: 80px;
        height: 80px;
    }
}