@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Libre+Baskerville:wght@700&display=swap');

.container {
    box-sizing: border-box;
    transition: all 0.9s ease-in-out;
    font-family: 'Indie Flower', cursive, 'Libre Baskerville', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #fff;
    color: #111;
}

.darkMode {
    background-color: #111;
    color: #fff;
}