@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Libre+Baskerville:wght@700&display=swap');

.container {
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive, 'Libre Baskerville', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #fff;
    color: #222;
    transition: all 0.7s ease-in-out;
}

.darkMode {
    background-color: #222;
    color: #fff;
}

.toggle {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    padding: 8px 12px;
    position: absolute;
    top: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    outline: none;
}

.toggle.dark {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.toggle:active {
    transform: scale(0.9);
}

.clockContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.clock {
    position: relative;
    width: 200px;
    height: 200px;
}

.needle {
    position: absolute;
    background-color: #222;
    top: 50%;
    left: 50%;
    height: 65px;
    width: 3px;
    transform-origin: bottom center;
    transform: translate(-50%, -100%) rotate(0deg);
    transition: all 0.7s ease-in;
}

.needle.dark {
    background-color: #fff;
}

.needle.minute {
    height: 100px;
}

.needle.second {
    height: 100px;
    background-color: #e74c3c;
}

.point {
    background-color: #e74c3c;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.point::after {
    content: '';
    background-color: #222;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.point.dark::after {
    background-color: #fff;
}