@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

.container {
    box-sizing: border-box;
    background-color: #caf0f8;
    color: #111;
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 20px;
}

.h1 {
    margin: 10px 0 0;
    font-weight: bold;
    font-size: xx-large;
}

.h3 {
    font-weight: 400;
    margin: 10px 0;
    font-weight: bold;
}

.cup {
    background-color: #fff;
    border: 4px solid #48cae4;
    color: #0096c7;
    border-radius: 0 0 40px 40px;
    height: 300px;
    width: 125px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.cup.cupSmall {
    height: 90px;
    width: 50px;
    border-radius: 0 0 20px 20px;
    background-color: rgba(255,255,255,0.9);
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
    transition: 0.3s ease;
}

.cup.cupSmall.full {
    background-color: #0096c7;
    color: #0096c7;
}

.cups {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    align-items: center;
    justify-content: center;
}

.remained {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1;
    transition: 0.3s ease;
}

.remained span {
    font-size: 20px;
    font-weight: bold;
}

.remained small {
    font-size: 18px;
}