@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300&display=swap');

.container {
    box-sizing: border-box;
    background: #f6fff8;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh
}

.container h1 {
    top: 10px;
    letter-spacing: 2px;
    font-size: 3rem;
    font-weight: 900;
    color: #111;
}

.container small {
    color: #111;
    margin-top: -2px;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
}

.pokeContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.7);
    padding: 20px;
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pokeType span {
    color: #fff;
}

.spinnerIcon {
    color: #111;
}

.pokemon .imgContainer {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon .imgContainer img {
    max-width: 90%;
    max-height: 90%;
}

.pokeInfo {
    margin-top: 15px;
}

.pokemon .pokeInfo .pokeNum {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.8rem;
}

.pokemon .pokeInfo .pokeName {
    font-weight: bold;
    margin-top: 10px;
}

.pokemon .pokeInfo .pokeType {
    margin-top: 12px;
}

.controls {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
}

.controls input,
.controls select,
.controls button {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 8px;
    color: #111;
}

.controls button {
    background-color: #4CAF50;
    color: #fff;
    display: flex;
    align-items: center;
}

.controls select:focus,
.controls input:focus {
    outline: none;
    border-color: #45a049;
}

.controls option {
    background-color: #fff;
}

.controls button:hover {
    background-color: #45a049;
}

.randomIcon {
    margin-right: 8px;
}

@media (max-width: 600px) {
    .controls {
        flex-direction: column;
        align-items: stretch;
    }

    .controls input,
    .controls select,
    .controls button {
        margin-right: 0;
        margin-bottom: 8px;
        width: 100%;
    }
}