@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Montserrat+Alternates:wght@300&family=Poppins:wght@300,400&display=swap');

/*This is done so that if I add padding or border to an element
 it doesnt affect the width of it.*/

* {
    box-sizing: border-box ;

}
body {
    font-family: 'Montserrat Alternates', sans-serif,'Anonymous Pro',monospace,'Poppins',sans-serif;
    background-color: rgb(291, 233, 100);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}


.btn {
    background-color: rgba(189, 189, 0, 0.68);
    border-radius: 15px;
    border: none;
    color: black;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    opacity: 0.69;
}

.btn:active {
    transform: scale(0.90);
}