@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

.container {
    box-sizing: border-box;
    background-image: linear-gradient(to bottom right, #caf0f8 50%, #90e0ef 100%);
    font-family: 'Sawarabi Mincho', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.mobileContainer {
    position: relative;
    overflow: hidden;
    border: 3px solid #111;
    border-radius: 15px;
    height: 600px;
    width: 340px;
}

.mobileContainer .content {
    opacity: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 60px);
    width: 100%;
    transition: opacity 0.4s ease;
}

.mobileContainer .content.show {
    opacity: 1;
}