@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', monospace;
}

.progress-bar {
    animation: grow 7s linear infinite;
}

@keyframes grow {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}