@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

.container {
    box-sizing: border-box;
    background-color: #adb5bd;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.container header {
    padding: 0.9rem;
    display: flex;
    justify-content: center;
    background-color: #212529;
}

.search {
    background-color: transparent;
    border: 1px solid #adb5bd;
    border-radius: 10px;
    padding: 0.6rem;
    font-family: inherit;
    font-size: 1rem;
    color: #adb5bd;
    outline: none;
}