@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

.container {
    box-sizing: border-box;
    background-color: #6c757d;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.container header {
    padding: 0.9rem;
    display: flex;
    justify-content: center;
    background-color: #212529;
}

.search {
    background-color: transparent;
    border: 1px solid #6c757d;
    border-radius: 10px;
    padding: 0.6rem;
    font-family: inherit;
    font-size: 1rem;
    color: #6c757d;
    outline: none;
}

.search:focus {
    outline: none;
}

.search::placeholder {
    color: #eee;
}

.container main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    width: 250px;
    margin: 1rem;
    margin-left: 2.1rem;
    background-color: #212529;
    color: #eee;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}