@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

* {
    box-sizing: border-box ;
}

body {
    font-family: 'Delius', cursive;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

h4 {
    font-size: 20px;
    margin: 5px;
}
.counter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.counter.hide {
    transform: translate(-50%, -50%) scale(0);
    animation: hide .2s ease-out;
}

@keyframes hide {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        transform: translate(-50%, -50%) scale(0);
    }
}

.main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    text-align: center;
}

.main.show {
    transform: translate(-50%, -50%) scale(1);
    animation: show .2s ease-out;
}

@keyframes show {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    
    30% {
        transform: translate(-50%, -50%) scale(1.5);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.numbers {
    color: #4cc9f0;
    font-size: 4rem;
    position: relative;
    overflow: hidden;
    width: 25rem;
    height: 5rem;
}

.numbers span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(240deg);
    transform-origin: top center;
}

.numbers span.active {
    transform: translate(-50%, -50%) rotate(0deg);
    animation: coming 0.5s ease-in-out;
}

.numbers span.inactive {
    animation: going 0.5s ease-in-out;
}

@keyframes coming {
    0% {
        transform: translate(-50%, -50%) rotate(120deg);
    }
    
    30% {
        transform: translate(-50%, -50%) rotate(-20deg);
    }

    60% {
        transform: translate(-50%, -50%) rotate(10deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

@keyframes going {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    
    60% {
        transform: translate(-50%, -50%) rotate(-20deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-120deg);
    }
}