@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Shizuru&display=swap');

/*This is done so that if I add padding or border to an element
 it doesnt affect the width of it.*/

* {
    box-sizing: border-box ;

}
body {
    font-family: 'Fredoka One', cursive,'Shizuru', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
   background:url("img.jpg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-color: teal;
    position: absolute;
    top: -60px;
    left: -60px;
    height: calc(100vh + 120px);
    width: calc(100vw + 120px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text {
    font-size: 50px;
    color:aquamarine;
}