@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box ;
}

body {
    background-color: #f1faee;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.magic {
    background-color: #ffb703;
    color: #fff;
    font-family: inherit;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 12px 14px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    letter-spacing: 1px;
    box-shadow: 3px 3px #adb5bd;  
    z-index: 1;
}

.magic:focus {
    outline: none;
}

.magic:active {
    transform: translate(0.95%);
    box-shadow: none;
}

.boxes { 
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 500px;
    width: 500px;
    transition: 2s ease-in-out;
}

.boxes.activez {
    width: 600px;
    height: 600px;
}

.boxes.activez .box {
    transform: rotateZ(360deg);
}

.box {
    background: url('https://media.giphy.com/media/xUPGcIoJzFnYqVIyxa/giphy.gif');
    background-repeat: no-repeat;
    background-size: 500px 500px;
    position: relative;
    height: 125px;
    width: 125px;
    transition: 0.4s ease;
}

.box::after {
    content: '';
    background-color: #adb5bd97;
    position: absolute;
    top: 8px;
    right: -15px;
    height: 100%;
    width: 15px;
    transform: skewY(45deg);
}

.box::before {
    content: '';
    background-color: #adb5bd;
    position: absolute;
    bottom: -15px;
    left: 8px;
    height: 15px;
    width: 100%;
    transform: skewX(45deg);
}