@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{
    box-sizing: border-box ;
}

body {
    background-image: linear-gradient(to bottom right, #caf0f8 33%, #90e0ef 100%);
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h2 {
    position: absolute;
    top: 10px;
    font-weight: 900;
}

.range-container {
    position: relative;
}

input[type='range'] {
    width: 300px;
    margin: 18px 0;
    -webkit-appearance: none;
}

input[type='range'] + label {
    position: absolute;
    background-color: #fff;
    top: -25px;
    left: 110px;
    width: 55px;
    padding: 5px 0;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px #8da9c4;
}

input[type='range']:focus {
    outline: none;
}

/* For Chromium based browsers */
input[type='range']::-webkit-slider-runnable-track {
    background: #ff006e;
    border-radius: 5px;
    width: 100%;
    height: 10px;
    cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #ff006e;
    margin-top: -7px;
}

