@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.main {
    box-sizing: border-box;
    background-color: #f8f9fa;
    color: #111;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    padding: 10px;
    margin: 0;
}

.contianer {
    background-color: #e9ecef;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    padding: 20px;
    width: 350px;
    max-width: 100%;
}

.contianer h2 {
    margin: 10px 0 20px;
    text-align: center;
    font-weight: 700;
    font-size: x-large;
}

.resultContainer {
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 10px;
    height: 50px;
    width: 100%;
}

.resultContainer input {
    background-color: transparent;
    word-wrap: break-word;
    width: calc(100% - 45px)
}

.resultContainer input:focus {
    outline: none;
}

.resultContainer .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
}

.btn {
    border: none;
    border-radius: 5px;
    background-color: #e9ecef;
    color: #111;
    font-size: 16px;
    padding: 6px 12px;
    cursor: pointer;
}

.btn2 {
    background-color: rgba(0,0,0,0.1);
    border: none;
    border-radius: 5px;
    color: #111;
    font-size: 16px;
    padding: 8px 12px;
    cursor: pointer;
}

.btn2:focus {
    outline: none;
}

.btnLarge {
    display: block;
    width: 100%;
}

.passLen {
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    text-align: center;
    padding: 3px;
}

.passLen:focus {
    outline: none;
}

.passConfigs .config {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}
