@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 3rem;
    background-image: linear-gradient(to right, #8ecae6, #219ebc);
    min-height: 100vh;
}