@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box ;
}

body {
    background-color: #8ecae6;
    color: #000;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
     justify-content: center;
    height: 100vh;
    overflow: hidden;
    padding: 10px;
    margin: 0;
}

h2 {
    margin: 10px 0 20px;
    text-align: center;
}

.container {
    background-color: #457b9d;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    padding: 20px;
    width: 350px;
    max-width: 100%;
}

.result-container {
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 10px;
    height: 50px;
    width: 100%;
}

.result-container #result {
    word-wrap: break-word;
    max-width: calc(100% - 40px);
}

.btn {
    border: none;
    border-radius: 3px;
    background-color: #457b9d82;
    color: #fff;
    font-size: 16px;
    padding: 8px 12px;
    cursor: pointer;
}

.btn2 {
    background-color: #36627d;
    border: none;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    padding: 8px 12px;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}