@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Shizuru&display=swap');

.main {
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive, 'Shizuru', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url('https://source.unsplash.com/random/?wallpaper') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-color: teal;
    position: absolute;
    top: -200px;
    left: -40px;
    height: calc(100vh + 200px);
    width: calc(100vw + 40px);
    z-index: 1;
    filter: blur(0px);
}

.loadingText {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #fff;
    z-index: 999;
}