@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap');

* {
    box-sizing: border-box ;
}

body {
    background: #90e0ef;
    background: linear-gradient(to right, #00b4d8, #caf0f8);
    font-family: 'IM Fell French Canon SC', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}