@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.parentContainer {
    box-sizing: border-box;
    background-color: #fae0e4;
    min-height: 100vh;
    font-family: 'Poppins', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.container {
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    overflow: hidden;
    width: 350px;
    color: #111;
}

.title {
    margin: 0;
}

.subtitle {
    display: inline-block;
    margin: 5px 0 20px;
    opacity: 0.8;
}

.header {
    background-color: #f7cad0;
    columns: #111;
    padding: 30px 20px;
}

.header input {
    background-color: #fbb1bd;
    outline: none;
    border-radius: 5px;
    padding: 4px 7px;
    width: 100%;
    font-size: 14px;
    opacity: 0.8;
}

.userList {
    background-color: #f5f3f4;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
}

.userList li {
    display: flex;
    padding: 20px;
}