@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 3rem;
    background-image: linear-gradient(to right, #0BAB64, #3BB78F);
}

.add {
    background-color: #2ec4b6;
    color: #000;
    position: fixed;
    top: 1.25rem;
    right: 1rem;
    padding: 0.5rem 0.5rem;
    border-radius: 0.6rem;
    cursor: pointer;
    border: none;
}

.add:active {
    transform: scale(0.98);
}

.note {
    background-color: #fff;
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.3);
    margin: 30px 20px;
    height: 400px;
    width: 400px;
}

.note .tools {
    background-color: #3BB78F;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.note .tools button {
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.3rem;
}

.note textarea {
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    height: 400px;
    width: 100%;
    padding: 20px;
}

.main {
    padding: 20px;
}

.hidden {
    display: none;
}