.container {
    box-sizing: border-box;
    background-color: #014f86;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.loader {
    position: relative;
    height: 80px;
    width: 80px;
}

.loader::after, .loader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: #fff;
    animation: turnLeft 2s linear infinite 0.5s;
}

.loader::before {
    transform: rotate(180deg);
    animation: turnRight 2d linear infinite;
}