.container {
    box-sizing: border-box;
    background-color: #014f86;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.loader {
    position: relative;
    height: 80px;
    width: 80px;
    background-color: #fff;
}