* {
    box-sizing: border-box ;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.background {
    background: url("https://source.unsplash.com/random/?landscape") no-repeat center center/cover;
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    z-index: -1;
    filter: blur(15px);
}