@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.container {
    box-sizing: border-box;
    background-color: #edf2f4;
    color: #111;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}