@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Roboto+Mono:wght@100&display=swap');

.container {
    box-sizing: border-box;
    font-family: 'Hubballi', cursive,'Roboto Mono', monospace;
    background-color: #b7e4c7;
    height: 100vh;
    margin: 0;
    color: #111;
}

.h1 {
    font-weight: bolder;
    margin: 0 0 50px;
    padding-top: 20px;
    text-align: center;
    font-size: xx-large;
}

.faqContainer {
    max-width: 600px;
    margin: 0 auto;
}
