@import url('https://fonts.googleapis.com/css?family=Press+Start+2P:wght@400;700&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
}

.screen.up {
    margin-top: -100vh;
}

.message.visible {
    opacity: 1;
    transform: translate(-50%, 150%);
}

.insect.caught {
    transform: translate(-50%, -50%) scale(0);
}