@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

* {
    box-sizing: border-box ;
}

body {
    background-color: #d4e09b;
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    background-color: #d0f4de;
    border: 2px #6c757d solid;
    border-radius: 10px;
    padding: 30px;
    max-width: 95%;
}

.number-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.number {
    border-radius: 5px;
    font-weight: 75px;
    height: 120px;
    width: 100px;
    border: 1px solid #eee;
    margin: 1%;
    text-align: center;
    font-weight: 300;
    -moz-appearance: textfield;
}

.number::-webkit-outer-spin-button,
.number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: none;
}

.number:valid {
    border-color: #d4e09b;
    box-shadow: 0 10px 10px -5px rgba(0,0,0,0.25);
}

