@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

* {
    box-sizing: border-box ;
}

body {
    background-color: #d4e09b;
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    background-color: #d0f4de;
    border: 2px #6c757d solid;
    border-radius: 10px;
    padding: 30px;
    max-width: 95%;
}