@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

* {
    box-sizing: border-box ;
}

body {
    background-image: linear-gradient(to bottom right,#ff4d6d 0%, #ff758f 100%);
    font-family: 'Sawarabi Mincho', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
